.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;  
}

.App-header {
  background-color: #1E1E1E;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #1E1E1E;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.container {
  display: inline-flex;
  justify-content: center;
}

.card {
  /* height: 400px; */
  width: 400px;
  transition: box-shadow 0.3s ease-in-out;
  color: black;
}

/* Transition to a bigger shadow on hover */
.card:hover {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
